{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
    <div class="container">
        <div class="alert-info">
            You have successfully connected your identity "{{ userInformation.realName }}" to your
            <a href="{{ path( 'wg_profile_edit', { 'username_slug': app.user.usernameSlug }) }}">account</a>.
        </div>
    </div>
{% endblock hwi_oauth_content %}
