{% extends '::base.html.twig' %}

{% block body %}

    <h1>Written Games</h1>

    <p>{{ message }}</p>


    <a href="{{ path( 'fos_user_security_login' ) }}">Traditional login</a>
    |
    <a href="{{ path( 'hwi_oauth_connect' ) }}">Login using external provider</a>
    |
    <a href="{{ path( 'fos_user_security_logout' ) }}">Logout</a>

{% endblock %}