{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        {% for key, message in app.session.flashbag.all() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}

        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock body %}
