
/*'''''''''''''''*\
|   SITE LAYOUT   |
\*_______________*/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  height: auto !important;
  min-height: 100%;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 40px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {
  .carousel img {
    width: auto;
    height: 500px;
  }
}

@media (max-width: 767px) {
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */

#wrap > .flush-to-top {
  padding-top: 40px;
}

#wrap > .container {
  padding-top: 80px;
}

.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/*''''''''''''''''''*\
|   ELEMENT STYLES   |
\*__________________*/

span.form-control-hint {
    position: absolute;
    margin-left: 6px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    background-color: rgba( 234, 234, 234, 0.5 );
}

span.form-control-hint i.icon {
    margin-right: 5px;
}

span.form-control-hint.success {
    color: green;
}

span.form-control-hint.error {
    color: lightcoral;
}

span.form-control-hint.info,
span.form-control-hint.loading {
    color: #3a87ad;
}

.container.profile {
    background-image: url( /bundles/writtengamesapplication/img/padlock.png );
    background-position: right 275px;
    background-repeat: no-repeat;
}

/*'''''''''''''''''''''''''''''''''*\
|   TEMPORARY BOOTSTRAP OVERRIDES   |
\*_________________________________*/

.well {
    font-size: 9pt;
    color: #777;
}
